<h2>Perustiedot</h2>
<article data-type="kunta-api-service-location-component" data-component="name" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/name.twig' %}</article>
<article data-type="kunta-api-service-location-component" data-component="description" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/description.twig' %}</article>
<h2>Yhteystiedot</h2>
<article data-type="kunta-api-service-location-component" data-component="email" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/email.twig' %}</article>
<article data-type="kunta-api-service-location-component" data-component="fax" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/fax.twig' %}</article>
<article data-type="kunta-api-service-location-component" data-component="phone" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/phone.twig' %}</article>
<article data-type="kunta-api-service-location-component" data-component="addresses" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/addresses.twig' %}</article>
<article data-type="kunta-api-service-location-component" data-component="servicehours" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/servicehours.twig' %}</article>
<article data-type="kunta-api-service-location-component" data-component="webpages" data-service-channel-id="{{ serviceLocationChannel.id }}" data-lang="{{ lang }}">{% include 'service-location-components/webpages.twig' %}</article>