{% if serviceHours %}
    {% for serviceHour in serviceHours|serviceHourSort %}
      {% if serviceHour.serviceHourType == 'Standard' or serviceHour.serviceHourType == 'Special' %}
        <div class="service-hour">
        {% if serviceHour.validFrom %}{{ serviceHour.validFrom|dateTimeFormat }}{% if serviceHour.validTo %} - {{ serviceHour.validTo|dateTimeFormat }}{% endif %}</br>{% endif %}
        {% if serviceHour.isClosed %}Suljettu{% endif %}
        {% if serviceHour.additionalInformation %}
          <b>{{ serviceHour.additionalInformation|localizedValue(lang)|nl2br }}</b>
        {% else %}
          {% if serviceHour.serviceHourType == 'Standard' %}
            <b>Normaalit palveluajat</b>
          {% else %}
            <b>Vuorokauden yli menevät palveluajat</b>
          {% endif %}
        {% endif %}
        {% if serviceHour.openingHour %}
          <ul>
          {% for openingHour in serviceHour.openingHour %}
            <li>{{ openingHour|openingHoursFormat }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>
      {% endif %}
      {% if serviceHour.serviceHourType == 'Exception' %}
        <div class="service-hour">
        <b>Poikkeavat palveluajat</b>
        {% if serviceHour.isClosed %}<p>Suljettu</p>{% endif %}
        {% if serviceHour.validForNow %}Voimassa toistaiseksi{% endif %}
        {% if serviceHour.openingHour %}
          <ul>
          {% for openingHour in serviceHour.openingHour %}
            <li>
              {% if serviceHour.validFrom %}{{ serviceHour.validFrom|dateTimeFormat }}{% endif %}{% if serviceHour.validTo %} - {{ serviceHour.validTo|dateTimeFormat }} {% endif %}{% if openingHour.from %}{{ openingHour.from|formatServiceHour }}{% endif %}{% if openingHour.to %} - {{ openingHour.to|formatServiceHour }}{% endif %} {% if serviceHour.additionalInformation %}{{ serviceHour.additionalInformation|localizedValue(lang)|nl2br }}{% endif %}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        <div>
      {% endif %}
    {% endfor %}
{% endif %}